<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-5" id="loginform">
          <fieldset>
					<form role="form">
						<div class="form-group">
							<h3>Login ID</h3>
							<input class="form-control" id="adminid" ng-model="loginid"/>
						</div>
						<div class="form-group">
							<h3>Password</h3>
							<input type="password" class="form-control" id="password" ng-model="adminpaswd" />
						</div>
						<button type="submit" class="btn btn-default"><a href="#admin">Login</a></button>
					</form>
          </fieldset>
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-4">
					<img alt="Unable to load Image" src="images/admin.jpg" />
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
<div class="row">
  <div class="col-md-12">&nbsp;</div>
</div>
