<!-- <div class="row">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-3">&nbsp;</div>
	<div class="col-md-4">
		<table class="table admintable">
			<tr>
				<th>
					<button type="button" name="button" class="btn btn-primary" ng-click="addTheater()">Add Theaters</button>
				</th>
			</tr>
			<tr>
				<th>
					<button type="button" name="button" class="btn btn-primary" ng-click="addMovie()">Add Movies</button>
				</th>
			</tr>
			<tr>
				<th>
					<button type="button" name="button" class="btn btn-primary" ng-click="addMapping()">Map Movies and Theaters</button>
				</th>
			</tr>
		</table>
	</div>
	<div class="col-md-3">&nbsp;</div>
	<div class="col-md-1">&nbsp;</div>
</div>

<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
	<div class="col-md-12">&nbsp;</div>
</div> -->
